*{
    margin: 0px;
    padding: 0px;
}
body {
    display: block;
    background-color:#c1b3c8;;
}
.container2{
    padding:5%;
    justify-content:space-between;
  }
.container2 .menu{
    width:80%;
  }
.container2 .menu .header{
    font-family:Gilroy;
    color:rgb(7, 6, 6);
  }
.container2 .orders{
    width:30%;
    padding-left:5%;
  }
.container2 .orders .header h1{
    font-family:Gilroy;
    color:rgb(20, 17, 17);
  }
.orders .bill{
    height:280px;
    width:400px;
    background-color:#352F44;
    border-radius:12px;
    padding:2%;
  }
.orders .bill .cash{
    color:rgb(255, 255, 255,0.5);
    font-family:Poppins;
    display:flex;
    justify-content:space-between;
    padding-right:5%;
    margin-top:5%;
    padding-left:5%;
  }
.orders .bill span{
    color:white;
    opacity:1;
  }
.orders .bill .button{
    width:400px;
    display: flex;
    justify-content: center;
    margin-top:10%;
  }
.orders .bill .button button{
    height:80px;
    width:400px;
    border-radius:12px;
    background-color:#56393d;
    color:white;
    font-family:Gilroy;
    font-size:1.5rem;
    cursor: pointer;
    border:none;
  }
.orders .bill .button:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0;
  }